# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: SPR12-Workflow

on:
  push:
    branches: [ "devel" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    container: golang:1.24
    steps:
    - uses: actions/checkout@v4
        
    - name: Vet
      run: |
        go vet ./...
        go mod tidy
      
    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
